#tittleText{
    text-align: center;
    margin-right: 120px;
}

body{
    background: aquamarine;
}

nav{
    line-height: 30px;
    height: 600px;
    width: 100px;
    padding: 5px;
    float: left;
}

footer{
    text-align: center;
}

header{
    text-align: center;
}